.cart-items {
  margin-bottom: 20px;
  min-height: 100vh;
}

.cart-item {
  align-items: center;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.cart-item p {
  text-align: center;
  width: 150px;
}

.cart-item-thumb {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  max-height: 200px;
  max-width: 150px;
  padding: 5px 10px;
  width: 150px;
}

.cart-item button {
  background: #333533;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  flex-basis: 30px;
  font-family: Hack , monospace;
  font-size: 12px;
  height: 30px;
  padding: 0.5rem;
  position: relative;
  transition: all 0.5s;
  width: 30px;
}

.btn-comprar {
  background: #333533;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  flex-basis: 30px;
  font-family: Poppins , sans-serif;
  font-size: 12px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0.5rem;
  position: relative;
  transition: all 0.5s;
}

.cart-item button:hover, .btn-comprar:hover {
  background-color: #3148ca;
  box-shadow: 0 2px 5px #0000ff61;
  transition: all 0.5s;
}

.btn-add-cart:active, .btn-comprar:active {
  background-color: #7e85b4;
  box-shadow: 0 3px 7px #0000ff61;
  transition: all 0.5s;
}

.cart-item-name {
  text-align: center;
  width: 40vw;
}

.cart-item-panel {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.empty-cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 66vh;
  margin-top: 200px;
}
