.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000814;
  color: whitesmoke;
  padding-top: 15px;
}

.header-container span {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
}