body {
  background-color: #e7d7c1;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.header-container {
  align-items: center;
  background-color: #f0753c;
  color: #111;
  display: flex;
  flex-direction: column;
  font-family: Atkinson Hyperlegible , sans-serif;
  padding-top: 15px;
}

.header-container .none {
  display: none;
}

.header-container i {
  color: #111;
}

.fas {
  font-size: 20px;
}

.fa-search {
  font-size: 14px;
}

.header-content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  width: 100vw;
}

.categories-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 20px;
}

.categories-container button {
  background-color: #333533;
  border: none;
  color: #dbdbdb;
  cursor: pointer;
  font-family: Atkinson Hyperlegible , sans-serif;
  font-size: 14px;
  padding: 0.1em;
  transition: 0.3s;
  width: 14vw;
}

.categories-container button:hover {
  background-color: #3148ca;
}

.categories-container button:first-of-type {
  border-radius: 3px 3px 0 0;
}

.categories-container button:last-child {
  border-radius: 0 0 2px 2px;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}
